<div class="profile-employer-container">
	<div class="pull-right" ng-hide="isEditing">
		<md-button ng-click='openEdit()' aria-label="Edit Profile" class="edit-btn profile-edit-buttons">
			<span title='Edit Profile'class='fa fa-pencil-square-o'></span>
		</md-button>
		<md-button ng-click='submitProfile()' aria-label="Submit Profile" ng-show="!profile.isPending" class="save-btn">
			<span title='Submit Profile' class='fa fa-upload'></span> 
		</md-button>
	</div>
	
	<div class='pull-right' ng-show="isEditing">
		<md-button ng-click='cancelEdit()' aria-label="Cancel Edit" class="cancel-btn profile-edit-buttons">
			<span title='Cancel Edit' class='fa fa-ban'></span>
		</md-button>
		<md-button ng-click="saveEdit()" aria-label="Save Edit" class="save-btn profile-edit-buttons">
			<span title='Save Profile' ng-click='saveEdit()' class='fa fa-floppy-o save-btn'></span>
		</md-button>
	</div>
	
	<h3>Profile</h3>
	
	<div ng-show='!isEditing'>
		<div class='profile-left'>
			<img ng-src='{{profile.logo}}' alt='company logo'/>
		</div>
		<div class="profile-right">
			<h3>{{profile.companyName}}</h3>
			<h4>Bio</h4>
			<p>{{profile.bio}}</p>
		</div>
		<div class="stretch">
			<h4>Requirements</h4>
			<p>The requirements here help students to see what skills are needed in the
				workplace and what skills they may want to learn. By filling this information
				we can match you with the Dev Mountain students who have the skills you are
				looking for.
			</p>
			<div class="employer-section">
			<h5>Relocation</h5>
			<input type='checkbox' disabled='true' ng-model="profile.relocation"/> Willing to Relocate
				<h5>Skills Needed</h5>
				<ul>
					<li ng-show="profile.skills.length < 1">No Skills Listed</li>
					<li ng-repeat="skill in profile.skills | orderBy: 'name' track by $index">{{skill.name}}</li>
				</ul>
			</div>
			<h4>Job Postings</h4>
			<ul>
				<li ng-show='profile.jobPostings.length < 1'>No Job Postings Found</li>
				<li ng-repeat='posting in profile.jobPostings'>{{posting}}</li>
			</ul>
			<h4>More</h4>
			<p>This information is not visible on your profile, but helps us stay in contact
				with you.</p>
			<div class='employer-section'>
				<h5>Contact Emails</h5>
				<ul>
					<li ng-show='profile.contactEmails.length < 1'>No Contact Emails Found</li>
					<li ng-repeat="email in profile.contactEmails">{{email}}</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div ng-show='isEditing'>
		<div class='profile-left'>
			<img ng-src='{{profile.logo}}' alt='company logo'/>
		</div>
		<div class="profile-right">
			<h4>Company Name</h4>
			<input type='text' ng-model="profile.companyName"/>
			<h4>Bio</h4>
			<textarea ng-model='profile.bio' class='emp-profile-edit-bio'></textarea>
		</div>
		<div class="stretch">
			<h4>Requirements</h4>
			<p>The requirements here help students to see what skills are needed in the
				workplace and what skills they may want to learn. By filling this information
				we can match you with the Dev Mountain students who have the skills you are
				looking for.
			</p>
			<div class="employer-section">
			<h5>Relocation</h5>
			<input type='checkbox' ng-model="profile.relocation"/> Willing to Relocate
				<h5>Skills Needed</h5>
				<select ng-options="skill for skill in skillsOptions">
					
				</select>
				<ul>
					<li ng-show="profile.skills.length < 1">No Skills Listed</li>
					<li ng-repeat="skill in profile.skills | orderBy: 'name' track by $index">{{skill.name}}</li>
				</ul>
			</div>
			<h4>Job Postings</h4>
			<ul>
				<li ng-show='profile.jobPostings.length < 1'>No Job Postings Found</li>
				<li ng-repeat='posting in profile.jobPostings'>{{posting}}</li>
			</ul>
			<h4>More</h4>
			<p>This information is not visible on your profile, but helps us stay in contact
				with you.</p>
			<div class='employer-section'>
				<h5>Contact Emails</h5>
				<ul>
					<li ng-show='profile.contactEmails.length < 1'>No Contact Emails Found</li>
					<li ng-repeat="email in profile.contactEmails">{{email}}</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="stretch"></div>
</div>