<div class="subroute-container" id="active-view" layout="column" layout-margin layout-align="center center">
	<p class="page-explanation">
		Companies whose profiles are currently visible are shown below.  This also means that their profiles don't have any pending changes.
	</p>
	<p class="page-explanation">
		To search for a company by name, type the name in the box below.  When you've found the company you're looking for, click their name to view their profile and modify settings, or just click the corresponding setting shown on the card.
	</p>
	
	<input type="text" placeholder="search" class="search-bar" ng-model="query">
	
	<md-card class="profile-card" dir-paginate="company in activeList | filter: search | orderBy: 'companyName' | itemsPerPage: 10 track by $index" layout="row">
		<section class="employer-logo">
			<img alt="Company Logo" ng-src="{{ company.logo }}">
		</section>
		
		<section class="employer-info">
			<h3 class="company-name" ng-click="openProfile($event, company._id)">{{ company.companyName }}</h3>
			<p class="company-bio">
				{{ company.bio | limitTo: 300 }}
				<span ng-show="company.bio.length > 300">...</span>
			</p>
			<div class="skills-container" layout="row" layout-wrap>
				<span class="skill-tags smaller" ng-repeat="skill in company.requestedSkills track by $index">{{ skill }}</span>
			</div>
			
			<div class="controls pull-right" layout="row">
				<md-switch class="md-primary" md-no-ink ng-click="updateStatus(company)" ng-model="company.isVisible">Active</md-switch>
			</div>
		</section>
	</md-card>
	
	<div class="no-select">
		<span flex></span>
		<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
		<span flex></span>
	</div>
</div>