.hidden {
	display: none;
}


md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
}

md-sidenav, .collapsed-sidenav-toolbar {
	background-color: #2F3F42;
}

.md-sidenav-backdrop {
	display: none;
}

md-sidenav .tab-button, .collapsed-sidenav-toolbar .toolbar-button, #toggle-menu-button, #collapse-menu-button {
	margin: 0;
	
	padding: 15px 33px;
	
	width: 100%;
	
	font-size: 1.2em;
	
	line-height: 1.01em;
	
	color: white;
}

md-sidenav .tab-button {
	text-align: left;
}
	.expanded-icon {
		margin-left: 33px;
	}
	
	#collapse-text {
		font-size: smaller;
	}

.collapsed-sidenav-toolbar {
	position: absolute;
	left: 0;
	top: 0;
	
	height: 100%;
	width: 85px;
	
	transition: all linear .3s;
}

	.collapsed-sidenav-toolbar .toolbar-button {
		position: relative;
		left: -5px;
	}
	
	/*.open-expand {
		text-align: left;
	}*/