.hidden {
	display: none;
}

.smaller {
	font-size: smaller;
}

.relative {
	position: relative;
}


.active-tab {
	background-color: #D8E8FF;
	color: black !important;
}

.active-tab:hover, .active-tab:focus {
	background-color: #BCCADE !important;
}

.sidenav-toolbar .toolbar-button, #toggle-menu-button {
	margin: 0;
	
	padding: 15px 33px;
	
	width: 100%;
	
	font-size: 1.2em;
	
	line-height: 1.01em;
	
	color: white;
}

.sidenav-toolbar {
	/*position: absolute;
	left: 0;
	top: 0;*/
	
	height: 100%;
	width: 200px;
	
	background-color: #2F3F42;
	
	transition: all linear .3s;
}

	.sidenav-toolbar .toolbar-button {
		text-align: left;
		width: 100%;
		
		min-width: auto;
		border-radius: 0;
	}
	
	.sidenav-toolbar .toolbar-button > span:last-child {
		position: relative;
		left: -5px;
		
	}
	
	/*.open-expand {
		text-align: left;
	}*/