.page-view-container {
	padding: 20px;
	box-sizing: border-box;
}

/*Profile View Styles*/
.profile-left {
	width: 30%;
	float: left;
}

.profile-right {
	width: 70%;
	float: right;
	padding: 10px;
	box-sizing: border-box;
}

.profile-img {
	text-align: center;
	width: 200px;
	max-height: 200px;
}

.profile-img > img {
	width: 100%;
	max-height: 200px;
}

.profile-textarea {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	resize: none;
}

ul {
	list-style: none;
}

.add-circle {
	margin: 2px;
}

	.add-circle:hover {
		color: green;
	}

.delete-circle {
	margin: 2px;
}

	.delete-circle:hover {
		cursor: pointer;
		color: red;
	}

.save-btn, .edit-btn, .cancel-btn {
	display: inline-block;
}

.save-btn {
	font-size: 2em;
	
	margin: 0 20px;
}

	.save-btn:hover {
		color: green;
		cursor: pointer;
	}

.cancel-btn {
	font-size: 2em;
}
	.cancel-btn:hover {
		color: red;
		cursor: pointer;
	}

/*Notification*/
.notification-container {
	border-left: thin solid black;
	margin-left: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
}

.notification-date {
	margin: 0;
}

.notification-message {
	margin: 0;
}

/*Home Styles*/
.employer-container {
	margin: 0 auto;
	padding: 20px;
	
	max-width: 1100px;
	/*width: 90%;
	margin: auto;
	border: thin solid lightgray;
	padding: 10px;
	margin-bottom: 20px;*/
}

	.employer-container > h3 {
		margin: 10px 0;
	}

.stretch {
	clear: both;
	content: ' ';
}

.edit-btn {
	font-size: 2em;
}

.edit-btn:hover {
	cursor: pointer;
	color: #2F3F42;
}