.landing-background {
  position: relative;
  
  text-align: center;
  
  margin-top: -20px;
  
  height: 100vh;
  
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/s2048x2048/11174272_842916812445854_1885598337984820889_o.jpg);
  
  background-position: center;
  
  background-size: cover;
  
  background-repeat: no-repeat;
}

.text-container {
	padding-top: 250px;
	
	margin-top: 20px;
}

.fade-in-text-animate {
	color: white;
	
	font-size: 50px;
	
	font-weight: 500px;
	
	font-family: Josefin Sans, sans-serif;
	
	margin: auto;
	
	visibility: visible;
	
	animation-duration: 2s;
	
	animation-name: fadeIn;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-webkit-keyframes delay {
	from, to { display: none; }
	50% { display: block;}
}

.typed-text { 
    font-size:30px;
	color: white;
    width:15em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid white;
	margin: auto;
	font-family: Josefin Sans, sans-serif;
	
    -webkit-animation: typing 3s steps(35, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
					
}

.foot-clan-box {
    position: relative;
	
    min-height: 1px;
	
    padding-right: 15px;
	
    padding-left: 15px;
	
	font-family: Josefin Sans, sans-serif;
	
	background-color: #EEEEEE;
}

.foot-clan-box-text {
	padding: 15px;
	
	margin: auto;
	
	text-align: center;
}