body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	background-color: #F5FFFC;
}

/*  ------------------------ ANIMATION ------------------------  */
	
.ng-hide-add,
.ng-hide-remove {
  -webkit-transition:0.2s linear all;
  transition:0.1s linear all;
  
  /* remember to add this */
  /*position: absolute;*/
  display:block!important;
  opacity:1;
}

.ng-hide-remove {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.ng-hide {
  opacity:0;
}



/*Header Styles*/
header {
	height: 67px;
	padding: 20px;
	box-sizing: border-box;
	background: #f8f8f8;
	border-bottom: #F0F0F0;
	
	box-shadow: 0 3px 5px rgba(200,200,240,.5);
}

.pull-right {
	display: block;
	float: right;
	
	align-self: flex-end;
}

.logo {
	height: 30px;
	display: inline-block;
}

.header-link {
	display: inline-block;
	text-decoration: none;
	color: #404041;
	padding: 0px 11px;
	box-sizing: border-box;
	margin-top: 10px
}

.header-link:hover {
	color: #2AABE2;
}

.header-buttons {
	float: right;
}

/*  ---------------------  ADMIN VIEW STYLES  ----------------------  */

/*  ---------  GENERAL CLASSES COULD BE USED ELSEWHERE  ------------  */
.hidden {
	display: none;
}

.smaller {
	font-size: smaller;
}

.relative {
	position: relative;
}

.search-bar {
	border-radius: 100px;
	padding: 8px
}

.route-container {
	width: 100%;
	height: 80%;
	height: calc(100% - 67px);
	max-height: calc(100% - 67px);
}

.subroute-container {
	padding: 8px 20px;
}

.sidenav-toolbar-open {
	width: 200px;
}

.sidenav-toolbar-closed {
	width: 85px;
	transition: all .3s linear;
}


/*  ---------------------  ADMIN STYLES ONLY  ----------------------  */

.active-tab {
	background-color: #D8E8FF;
	color: black !important;
}

.active-tab:hover, .active-tab:focus {
	background-color: #BCCADE !important;
}

.sidenav-toolbar .toolbar-button, #toggle-menu-button {
	margin: 0;
	
	padding: 15px 33px;
	
	width: 100%;
	
	font-size: 1.2em;
	
	line-height: 1.01em;
	
	color: white;
	/*color: #2F3F42;*/
}

.sidenav-toolbar {
	height: 100%;
	
	background-color: #2F3F42;
	/*background-color: #B1E2ED;*/
	
	transition: all linear .3s;
}

	.sidenav-toolbar .toolbar-button {
		text-align: left;
		width: 100%;
		
		min-width: auto;
		border-radius: 0;
	}
	
	.sidenav-toolbar .toolbar-button > span:last-child {
		position: relative;
		left: -5px;
	}


.open-expand {
	position: absolute;
}


#admin-subroutes {
	overflow: auto;
}


/*  -----------------  ADMIN.ACTIVE VIEW STYLES  ----------------  */

.active-card, .inactive-card, .pending-card, .all-card {
	width: 90%;
	max-width: 800px;
	
	border-radius: 5px;
	
	overflow: hidden;
	
	/*padding: 20px;*/
}

	.employer-logo {
		width: 150px;
		height: 150px;
		
		margin: 10px; 
	}
		
		.employer-logo > img {
			width: 100%;
		}
	
	.employer-info {
		width: 100%;
		
		padding-left: 20px;
	}
	
		.employer-info .company-name {
			width: calc(100% - 40px);
			
			margin: 0;
			
			padding: 10px 20px;
			
			text-align: center;
			background-color: #eee;
		}
		
		.skills-container {
			margin-bottom: 20px;
		}
		
			.skills-container .skill-tags {
				display: inline-block;
				
				margin: 0 8px;
				padding: 3px;
				
				background-color: #e0e0ff;
				
				box-shadow: 0 2px 3px #bbb;
				
				border-radius: 3px;
			}


/*  --------------  ANIMATION FOR TOOLBAR ONLY  ---------------  */
.open-expand.ng-hide-add,
.open-expand.ng-hide-remove {
  width: 87px;
}

.ng-hide-remove {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.open-expand.ng-hide {
  width: 0px;
}
	
	/*LIST VIEW CSS*/  
	
	.list-main-box {
		width: 600px;
		
		border: 1px black solid;
		
		height: 150px;
		
		margin: auto;
				
		position: relative;	
	}
	
	.list-logo-box {
		float: left;
		
		width: 150px;
		
		height: 150px;
	}
	
	.list-right-side {
		width: 450px;
		
		float: right;
		
		padding: 5px;
		
		box-sizing: border-box;
	}
	
	.list-top-right {
		height: 90%;
	}
	
	.list-company-name {
		font-size: 1.5em;
		
		text-align: center;
		
		color: black;
		
		font-family: Helvetica, Arial, sans-serif;
	}
	
	.list-company-bio {
		font-size: 1em;
		
		text-align: center;
		
		color: black;
		
		font-family: Helvetica, Arial, sans-serif;
	}
	
	.list-skills-row {
		position: absolute;
		
		bottom: 0;
		
		right: 0;
		
		text-align: center;
		
		width: 450px;
	}
	
	.list-p-skills {
		display: inline;
	
		padding: 0 5px;
		
		margin: 0 5px;
	}
