/*Header Styles*/
header {
	height: 86px;
	padding: 30px;
	box-sizing: border-box;
}
.logo {
	height: 30px;
	display: inline-block;
}

.header-link {
	display: inline-block;
	text-decoration: none;
	color: #404041;
	padding: 0px 11px;
	box-sizing: border-box;
}

.header-link:hover {
	color: #2AABE2;
}

.header-buttons {
	float: right;
}

/*  ---------------------  ADMIN VIEW STYLES  ----------------------  */

/*  ---------  GENERAL CLASSES COULD BE USED ELSEWHERE  ------------  */
.hidden {
	display: none;
}

.smaller {
	font-size: smaller;
}

.relative {
	position: relative;
}


/*  ---------------------  ADMIN STYLES ONLY  ----------------------  */

.active-tab {
	background-color: #D8E8FF;
	/*color: black !important;*/
}

.active-tab:hover, .active-tab:focus {
	background-color: #BCCADE !important;
}

.sidenav-toolbar .toolbar-button, #toggle-menu-button {
	margin: 0;
	
	padding: 15px 33px;
	
	width: 100%;
	
	font-size: 1.2em;
	
	line-height: 1.01em;
	
	/*color: white;*/
}

.sidenav-toolbar {
	
	height: 100%;
	width: 200px;
	
	/*background-color: #2F3F42;*/
	
	transition: all linear .3s;
}

	.sidenav-toolbar .toolbar-button {
		text-align: left;
		width: 100%;
		
		min-width: auto;
		border-radius: 0;
	}
	
	.sidenav-toolbar .toolbar-button > span:last-child {
		position: relative;
		left: -5px;
	}