.upperDiv {
 
}

.skillDiv {
	border: lightgray solid 1px;
	border-radius: 5px;
}

.lowerDiv {
	
}

.student-div {
	border: lightgray solid 1px;
	border-radius: 5px;	
	margin: auto;
	font-size: 20px;
}