
.area {
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.select-box-title {
	margin-bottom: 2px;
}

.match-container {
	width: 90%;
	border: thin solid lightgray;
	padding: 20px;
	margin: 20px auto;
	min-width: 650px;
}

.select-box-container {
	box-sizing: border-box;
	display: inline-block;
	width: 250px;
	height: 250px;
	background: white;
	text-align: center;
}

.select-box-select-area {
	box-sizing: border-box;
	display: inline-block;
	width: 250px;
	height: 250px;
	background: white;
	overflow-y: scroll;
	padding: 2px 0px;
	border: thin solid lightgray;
}

.div-center-buttons {
	width: 15%;
	height: 250px;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	padding-top: 100px;
}

.match-button {
	border: none;
	padding: 5px 10px;
	margin: 3px 10px;
	border-radius: 2px;
}

.match-button:hover {
	background: gray;
	color: white;
}

.select-me-please {
	background: white;
}

.select-me-please:hover {
	cursor: pointer;
}

.selected-a-thing {
	background: dodgerblue;
}

.big-create-matches-button {
	width: 100%;
	height: 300px;
	background: seagreen;
	border-radius: 40px;
	font-size: 4em;
}

