.upperDiv {
 
}

.skillDiv {
	border: lightgray solid 1px;
	border-radius: 5px;
}

.lowerDiv {
	
}

.student-div {
	border: lightgray solid 1px;
	border-radius: 5px;	
}

.student-picture {
	width: 200px;
	height: auto;
}