md-dialog#profile-modal {
	border-radius: 0;
	
}

	md-dialog.student, md-dialog.desktop {
		width: 70%;
		height: 70%;
		max-width: 800px;
		max-height: 600px;
	}

	md-dialog.mobile, md-dialog.admin {
		width: 90%;
		height: 90%;
	}
		
		#quick-info {
			max-width: 200px;
		}

		md-dialog > form {
			width: 100%;
			height: 100%;
		}
		
		md-toolbar {
			min-height: auto;
		}
		
		md-toolbar .md-toolbar-tools {
			background-color: #2F3F42;
			line-height: .5em;
			height: auto;
		}
	
		md-dialog#profile-modal .employer-logo-container-md {
			width: 200px;
		}
		
			md-dialog#profile-modal .employer-logo-container-md > img {
				width: 100%;
			}
		
		#quick-info .skill-tags.original-skills, 
		#quick-info .original-relocation,
		#quick-info .original-contacts,
		#more-info .original-name,
		#more-info .original-bio,
		#more-info .original-postings {
			background-color: #F88;
			padding: 5px;
			margin: 0;
			list-style: none;
		}
		
		#quick-info .skill-tags.changed-skills, 
		#quick-info .changed-relocation,
		#quick-info .changed-contacts,
		#more-info .changed-name,
		#more-info .changed-bio,
		#more-info .changed-postings {
			background-color: #8F8;
			padding: 5px;
			margin: 0;
			margin-top: 5px;
			list-style: none;
		}
		
		#quick-info .employer-logo-container-md.original-logo {
			outline: 2px solid #F88;
		}
		
		#quick-info .employer-logo-container-md.changed-logo {
			outline: 2px solid #8F8;
			
			margin-top: 5px;
		}
		
		#more-info h2, #more-info h4 {
			margin-bottom: 0;
		}
		
		md-dialog#profile-modal #more-info {
			margin-left: 30px;
		}
		
			.md-dialog-container {
				z-index: 200;
			}