<div class="subroutes" layout="column" layout-margin layout-align="center center">
	<p class="page-explanation">
		The company profiles are shown below.  You can filter as well as order them as you would like.  Default shows the whole list as pending employer profiles first to make it easier to find.  To create a new company profile, click <a ui-sref="Admin.CreateProfile">HERE</a>.
	</p>
	<p class="page-explanation">
		To search for a company by name, type the name in the box below.  When you've found the company you're looking for, click their name to view their profile and modify settings, or just click the corresponding setting shown on the card.  You can only delete companies if they are currently inactive, and you can only activate inactive companies if no changes are pending for that company.
	</p>
	
	<div class="input-container" layout="row">
		<input type="text" autofocus="true" placeholder="Search Companies" class="search-bar" ng-model="query" flex>
		
		<!-- maybe.............. -->
		<!--<md-select class="filter-box" ng-model="filterSelect" aria-label="Filter Search">
			<md-option ng-repeat="option in filterOptions">{{ option }}</md-option>
		</md-select>-->
		
		<md-select class="filter-box" ng-model="orderSelect" aria-label="Order Search">
			<md-option 
				ng-selected="$first" 
				ng-repeat="option in orderOptions" 
				ng-value="option.abbr"
			>
				{{ option.name }}
			</md-option>
		</md-select>
		
		<md-select class="filter-box" ng-model="filterSelect" aria-label="Filter Search">
			<md-option 
				ng-selected="$first" 
				ng-repeat="option in filterOptions" 
				ng-value="option.abbr"
			>
				{{ option.name }}</md-option>
		</md-select>
	</div>
	
	<div 
		class="profile-card" 
		dir-paginate="company in companyList | 
					  filter: search | 
					  orderBy: 'companyName' | 
					  orderBy: orderSelect | 
					  itemsPerPage: 10 track by $index" 
		layout="row"
	>
		<section class="card-left">
			<div class="employer-logo">
				<img alt="Company Logo" ng-src="{{ company.logo }}">
			</div>
			
			<p ng-show="company.pendingProfile.submit" class="pending">
				<span class="pull-right fa fa-exclamation-triangle"></span> Pending changes
			</p>
			<p ng-show="company.isVisible" class="active-notification"> Visible </p>
			<p ng-show="!company.isVisible" class="inactive-notification"> Not Visible </p>
		</section>
		
		<section class="employer-info" layout="column">
			<h3 
				class="company-name" 
				ng-click="openProfile($event, company._id)"
			>
				{{ company.companyName }}
			</h3>
			
			<p class="company-bio" flex>
				{{ company.bio | limitTo: 300 }}<span 
					ng-show="company.bio.length > 300">...</span>
			</p>
			<div class="skills-container" layout="row" layout-wrap>
				<span class="skill-tags smaller" ng-repeat="skill in company.skills track by $index">{{ skill.name }}</span>
			</div>
			
			<div class="controls" layout="row">
				<md-button 
					ng-hide="company.isVisible" 
					class="admin-control-button delete-button" 
					ng-click="deleteCompany($event, company)"
				>
					<span ng-show="!!isMobile.any()" class="fa fa-trash-o"></span>
					<span ng-show="!isMobile.any()">Delete</span>
				</md-button>
				<span flex=""></span>
				
				<md-button 
					class="admin-control-button activate-company-button" 
					md-no-ink 
					ng-click="activateCompany(company)" 
					ng-hide="company.isVisible || company.isPending"
				>
					<span ng-show="!!isMobile.any()" class="fa fa-play"></span>
					<span ng-show="!isMobile.any()">Activate</span>
				</md-button>
				
				<md-button 
					class="admin-control-button deactivate-company-button" 
					md-no-ink 
					ng-click="deactivateCompany(company)" 
					ng-show="company.isVisible"
				>
					Deactivate
				</md-button>
				<div ng-show="company.pendingProfile.submit" layout="row">
					<md-button 
						class="admin-control-button delete-button" 
						md-no-ink 
						ng-click="rejectChanges(company)" 
						ng-show="company.pendingProfile.submit"
					>
						<span ng-show="!!isMobile.any()" class="fa fa-ban"></span>
						<span ng-show="!isMobile.any()">Reject Changes</span>
					</md-button>
					
					<md-button 
						class="admin-control-button submit-button accept-changes-button" 
						md-no-ink 
						ng-click="acceptChanges(company)" 
						ng-show="company.pendingProfile.submit"
					>
						<span ng-show="!!isMobile.any()" class="fa fa-check"></span>
						<span ng-show="!isMobile.any()">Accept Changes</span>
					</md-button>
				</div>
			</div>
		</section>
	</div>
	
	<div class="pagination no-select">
		<span flex></span>
		
		<dir-pagination-controls 
			max-size="10" 
			direction-links="true" 
			boundary-links="true"
		></dir-pagination-controls>
		
		<span flex></span>
	</div>
</div>