<md-dialog 
	id="profile-modal" 
	aria-label="Company Profile" 
	ng-cloak 
	ng-class="{
		admin: (path.indexOf('admin') > -1 && !isMobile.any()),
		compare: (compareChanges && !isMobile.any()), 
		mobile: !!isMobile.any(), 
		student: (parsePath() === 'students' && !isMobile.any()), 
		desktop: !isMobile.any() && !compareChanges
	}"
>
	<form layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Company Profile</h2>
				<span flex></span>
				<h2>{{ currentProfile.companyName }}</h2>
				<span flex></span>
				<md-button class="md-icon-button big" ng-focus="true" aria-label="Close Modal" ng-click="cancel()">
					<span class="fa fa-times-circle"></span>
				</md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content flex>
			<div class="md-dialog-content" layout="row">
				<div id="quick-info">
					<div class="employer-logo-container-md">
						<img ng-src="{{ currentProfile.logo }}">
					</div>
					<p>
						<b ng-show="currentProfile.size">Company Size:</b>
						{{ currentProfile.size }} <br>
						<span ng-show="compareChanges">{{ currentProfile.pendingProfile.size }}</span>
					</p>
					<div ng-show="currentProfile.skills[0]">
						<b>Requested Skills:</b> 
						<ul class="skills-container">
							<li class="skill-tags" ng-repeat="skill in currentProfile.skills track by $index">
								{{ skill.name }}
							</li>
						</ul> 
						<ul class="skills-container" ng-show="compareChanges" ng-hide="(currentProfile.pendingProfile.skills !== currentProfile.skills)">
							<li class="skill-tags changed-skills" ng-repeat="skill in currentProfile.pendingProfile.skills track by $index">
								{{ skill.name }}
							</li>
						</ul>
					</div>
				</div>
				
				<div id="more-info">
					<h2>{{ currentProfile.companyName }}</h2>
					
					<div id="profile-bio">
						<h4>Description:</h4>
						<p>{{ currentProfile.bio }}</p>
					</div>
					
					<div id="profile-requirements">
						<h4>Requirements:</h4>
						<ul>
							<li ng-repeat="requirement in currentProfile.requirements track by $index">{{ requirement }}</li>
						</ul>
					</div>
				</div>
			</div>
		</md-dialog-content>
		
		<div class="md-actions controls" ng-show="getAdmin()" layout="row">
			<md-button class="other-button button" ng-show="currentProfile.pendingProfile && !compareChanges" ng-click="showChanges()">
				Show Changes
			</md-button>
			
			<md-button class="other-button button" ng-hide="isEditing || (currentProfile.pendingProfile && !isEditing)" ng-show="compareChanges && !isEditing" ng-click="beginEdit()">
				Edit
			</md-button>
			
			<md-button class="delete-button button" ng-show="isEditing" ng-click="deleteCompany($event, company)">
				Delete
			</md-button>
			
			<span flex></span>
			
			<md-button class="button submit-button" ng-show="isEditing" ng-click="saveProfile()" aria-label="Save">
				Save
			</md-button>
			
			<md-button class="button" ng-click="cancel()" aria-label="Cancel">
				Cancel
			</md-button>
		</div>
	</form>
</md-dialog>