<md-dialog 
	id="profile-modal" 
	aria-label="Company Profile" 
	ng-cloak 
	ng-class="{
		admin: (path.indexOf('admin') > -1 && !isMobile.any()),
		compare: (compareChanges && !isMobile.any()), 
		mobile: !!isMobile.any(), 
		student: (parsePath() === 'students' && !isMobile.any()), 
		desktop: !isMobile.any() && !compareChanges
	}"
>
	<form layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Company Profile</h2>
				<span flex></span>
				<h2>{{ currentProfile.companyName }}</h2>
				<span flex></span>
				<md-button class="md-icon-button big" ng-focus="true" aria-label="Close Modal" ng-click="cancel()">
					<span class="fa fa-times-circle"></span>
				</md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content flex>
			<div class="md-dialog-content" layout="row">
				<div id="quick-info">
					<!-----------------------LOGO-------------------------------------------------------->
					<div 
						class="employer-logo-container-md" 
						ng-class="{ 
							'original-logo': compareChanges && changeObj.logo,
							'click-to-edit': !currentProfile.isPending && isEditing 
						}"
					>
						<img ng-src="{{ currentProfile.logo }}">
						<input type="text" ng-model="editObj.logo" ng-show="isEditing && editMode.logo && !currentProfile.isPending">
					</div>
					
					<div 
						class="employer-logo-container-md changed-logo" 
						ng-class="{ 'click-to-edit': isEditing }"
						ng-show="compareChanges && changeObj.logo"
					>
						<img ng-src="{{ currentProfile.pendingProfile.logo }}">
					</div>
					
					
					<!-----------------------------COMPANY SIZE...?-------------------------------------->
					<p>
						<b ng-show="currentProfile.size">Company Size:</b>
						{{ currentProfile.size }} <br>
						<span ng-show="compareChanges">{{ currentProfile.pendingProfile.size }}</span>
					</p>
					
					
					<!------------------------------------SKILLS----------------------------------------->
					<div ng-show="currentProfile.skills.length">
						<b>Requested Skills:</b> 
						<ul class="skills-container">
							<li 
								class="skill-tags" 
								ng-class="{ 
									'original-skills': compareChanges && changeObj.skills, 
									'click-to-edit': !currentProfile.isPending && isEditing 
								}" 
								ng-repeat="skill in currentProfile.skills track by $index"
							>
								{{ skill.name }}
							</li>
						</ul> 
						<ul class="skills-container" ng-show="compareChanges && changeObj.skills">
							<li 
								class="skill-tags changed-skills" 
								ng-repeat="skill in currentProfile.pendingProfile.skills track by $index"
							>
								{{ skill.name }}
							</li>
						</ul>
					</div>
					
					
					<!-------------------------------RELOCATION REQUIREMENT----------------------------->
					<div>
						<b>Requires Relocation:</b>
						<p 
							ng-class="{
								'original-relocation': compareChanges && changeObj.relocation,
								'click-to-edit': !currentProfile.isPending && isEditing  
							}"
						>
							<span class="fa fa-check" ng-show="currentProfile.relocation"></span>
							<span class="fa fa-ban" ng-hide="currentProfile.relocation"></span>
							{{currentProfile.relocation || 'false'}}
						</p>
						<p class="changed-relocation" ng-show="compareChanges && changeObj.relocation">
							<span class="fa fa-check" ng-show="currentProfile.pendingProfile.relocation"></span>
							<span class="fa fa-ban" ng-hide="currentProfile.pendingProfile.relocation"></span>
							{{currentProfile.pendingProfile.relocation || 'false'}}
						</p>
					</div>
					
					
					<!----------------------------------CONTACT EMAILS---------------------------------->
					<div ng-show="getAdmin()">
						<b>Contact Emails</b>
						<ul 
							ng-class="{ 
								'original-contacts': compareChanges && changeObj.contactEmails
							}"
						>
							<li 
								ng-repeat="email in currentProfile.contactEmails"
								ng-class="{ 'click-to-edit': !currentProfile.isPending && isEditing }"
							>
								<a href="mailto:{{email}}">{{ email }}</a>
							</li>
							
							<li class="click-to-edit" ng-show="isEditing && !currentProfile.isPending && !editMode.newContact" ng-click="openEdit('newContact')" layout="row">
								<span ng-show="!editMode.newContact"><span class="fa fa-plus"></span>&nbsp; Add new email</span>
							</li>
							
							<li layout="row" ng-show="editMode.newContact" class="edit-controls">
								<input type="text" ng-model="editObj.newContact" placeholder="New email" flex>
								<md-button class="button skill-button submit-button" aria-label="Save edit">
									<span class="fa fa-floppy-o"></span>
								</md-button>
								<md-button class="button skill-button delete-button" aria-label="Delete edit">
									<span class="fa fa-trash-o delete-button skill-button"></span>
								</md-button>
							</li>
						</ul>
						<p ng-show="compareChanges && changeObj.contactEmails && !currentProfile.contactEmails.length">
							This profile currently doesn't have any contact emails
						</p>
						
						<ul class="changed-contacts" ng-show="compareChanges && changeObj.contactEmails">
							<li ng-repeat="email in currentProfile.pendingProfile.contactEmails">
								<a href="mailto:{{email}}">{{ email }}</a>
							</li>
						</ul>
						<p ng-show="compareChanges && changeObj.contactEmails && !currentProfile.pendingProfile.contactEmails.length">
							The user deleted all of their contact emails
						</p>
					</div>
				</div>
				
				<div id="more-info" flex>
					<!------------------------------COMPANY NAME--------------------------------------->
					<div>
						<h2 
							ng-class="{
								'original-name': compareChanges && changeObj.companyName,
								'click-to-edit': !currentProfile.isPending && isEditing
							}"
						>
							{{ currentProfile.companyName }}
						</h2>
						
						<h2 class="changed-name" ng-show="compareChanges && changeObj.companyName">
							{{ currentProfile.pendingProfile.companyName }}
						</h2>
					</div>
					
					
					<!---------------------------------------BIO--------------------------------------->
					<div>
						<h4>Description:</h4>
						<div 
							class="profile-bio" 
							ng-class="{
								'original-bio': compareChanges && changeObj.bio,
								'click-to-edit': !currentProfile.isPending && isEditing 
							}"
						>
							<span>{{ currentProfile.bio }}</span>
						</div>
						
						<div class="profile-bio changed-bio" ng-show="compareChanges && changeObj.bio">
							<span>{{ currentProfile.pendingProfile.bio }}</span>
						</div>
					</div>
					
					
					<!-----------------------------------JOB POSTINGS---------------------------------->
					<div class="profile-job-postings" ng-show="currentProfile.jobPostings[0] || (currentProfile.pendingProfile.jobPostings[0] && compareChanges)">
						<h4>Job Postings:</h4>
						<ul 
							ng-class="{
								'original-postings': compareChanges && changeObj.jobPostings,
								'click-to-edit': !currentProfile.isPending && isEditing
							}"
						>
							<li ng-repeat="posting in currentProfile.jobPostings track by $index" ng-hide="currentProfile.jobPostings.length" ng-href="posting"><a href="{{posting}}" target="_blank">{{ posting }}</a></li>
							<span ng-show="!currentProfile.jobPostings.length">No job postings currently listed</span>
						</ul>
						<ul class="changed-postings" ng-show="compareChanges && changeObj.jobPostings">
							<li ng-repeat="posting in currentProfile.pendingProfile.jobPostings track by $index"><a href="{{posting}}" target="_blank">{{ posting }}</a></li>
							<span ng-show="currentProfile.jobPostings.length">User deleted all job postings</span>
						</ul>
					</div>
				</div>
			</div>
		</md-dialog-content>
		
		<div class="md-actions controls" ng-show="getAdmin()" layout="row">
			<md-button class="other-button button" ng-show="currentProfile.pendingProfile && !compareChanges" ng-click="showChanges()">
				Show Changes
			</md-button>
			
			<md-button class="other-button button" ng-hide="isEditing || (currentProfile.pendingProfile && !isEditing)" ng-show="compareChanges && !isEditing" ng-click="beginEdit()">
				Edit
			</md-button>
			
			<md-button class="delete-button button" ng-show="isEditing" ng-click="deleteCompany($event, company)">
				Delete
			</md-button>
			
			<span flex></span>
			
			<md-button class="button delete-button" ng-show="compareChanges && !isEditing" ng-click="rejectChanges()" aria-label="Reject Changes">
				Reject Changes
			</md-button>
			
			<md-button class="button submit-button" ng-show="compareChanges && !isEditing" ng-click="acceptChanges()" aria-label="Accept Changes">
				Accept Changes
			</md-button>
			
			<md-button class="button submit-button" ng-show="isEditing" ng-click="saveProfile()" aria-label="Save">
				Save
			</md-button>
			
			<md-button class="button" ng-click="cancel()" aria-label="Cancel">
				Cancel
			</md-button>
		</div>
	</form>
</md-dialog>