<div id="list-view" class="route-container" layout="column">
	<p class="page-explanation">
		Welcome to the Employer profile site for DevMountain!  Below are listed employers who are currently looking for Web, iOS, and User Experience positions to fill.  The cards say only a portion of the info on their profiles, but if you click the name, you'll be able to see more information. 
	</p>
	
	<div class="list-search-box">
		<input type="text" placeholder="Click here and start typing for a live search of companies" class="search-bar" ng-model="query">
	</div>
	
	<profile-dir class="active-card" ng-repeat="profile in profiles | filter: search track by $index"></profile-dir>
</div>