<div class="subroute-container" id="config-view" layout="row" layout-align="space-around start">
	<md-card class="column">
		<h3>Employer welcome message</h3>
		<h5>What the employers will see when they first sign into the website. Click to edit.</h5>
		<p ng-hide="editModeList.welcome" id="welcome-message" class="click-to-edit" ng-click="editModeOn('welcome')">
			{{ welcomeMessage.message || 'Click to add a welcome message' }}
		</p>
		<form ng-show="editModeList.welcome">
			<textarea id="welcome-edit" placeholder="Put the welcome message employers will see on their home page here" ng-model="welcomeMessage.message"></textarea><br>
			<input type="submit" class="md-button md-primary md-raised" ng-click="saveChanges(welcomeMessage)">
			<md-button md-no-ink class="md-primary" ng-click="cancelEdit('welcome')">Cancel</md-button>
		</form>
	</md-card>
	
	<md-card class="md-whiteframe-2dp column">
		<h3>Notifications</h3>
		<div class="notification" ng-repeat="notification in notifications track by $index">
			<md-button class="md-warn pull-right delete-button" ng-hide="editModeList[$index]" ng-click="deleteNotification($index)" aria-label="Delete Notification">
				<span class="fa fa-times-circle"></span>
			</md-button>
			<p ng-hide="editModeList[$index]" class="click-to-edit" ng-click="editModeOn($index)">
				{{ notification.message }}
			</p>
			<form ng-show="editModeList[$index]">
				<textarea placeholder="Notification" class="notification-edit" ng-model="notification.message"></textarea>
				<br>
				<input type="submit" value="Save" md-no-ink class="md-button md-primary md-raised" ng-click="saveChanges(notification, $index)"> 
				<md-button md-no-ink class="md-primary" ng-click="cancelEdit($index)">Cancel</md-button>
			</form>
		</div>
		
		<p ng-hide="editModeList.new" class="click-to-edit" ng-click="editModeOn('new')">
			<strong>+</strong> Add new
		</p>
		<form ng-show="editModeList.new">
			<textarea id="new-notification" placeholder="New Notification" ng-model="newMessage"></textarea>
			<br>
			<input type="submit" value="Save" md-no-ink class="md-button md-primary md-raised" ng-click="saveChanges('new')"> 
			<md-button md-no-ink class="md-primary" ng-click="cancelEdit('new')">Cancel</md-button>
		</form>
	</md-card>
</div>