<div class="subroute-container" id="skills-view" layout="row">
	<div id="current-skills" class='column skills-box' flex>
		<input type="text" placeholder="search" ng-model='searchTerms' class='pull-right'/>
		<h3>Skills</h3>
		<div class="skills" dir-paginate="skill in skills | orderBy: 'name' | filter: {approved: true, name: searchTerms} | itemsPerPage: 20 track by $index">
			{{skill.name}}<span class='fa fa-trash-o pull-right skills-delete'></span>
		</div>
		
		<div class="skills add-skill" ng-hide="addingSkill" ng-click="showAdd()">
			<span class="fa fa-plus"></span> Add New...
		</div>
		
		<form ng-submit='addNewSkill()' ng-show="addingSkill">
			<input type='text' placeholder="New skill..." ng-model='newSkill'/>
			<span class="new-skill-submit fa fa-plus" title="Add" ng-click="addNewSkill()"></span>
			<span class="new-skill-cancel fa fa-times-circle" title="Cancel" ng-click="cancelNewSkill()"></span>
		</form>
		
		<div class="pagination no-select" layout="row">
			<span flex></span>
			<dir-pagination-controls max-size="20" direction-links="true" boundary-links="true"></dir-pagination-controls>
			<span flex></span>
		</div>
	</div>
	
	<div id="pending-skills"  class='column' flex>
		<div class="skills-box">
			<h3>New Skill</h3>
			
			<form ng-submit='addNewSkill()'>
				<input type='text' ng-model='newSkill'/>
				<strong ng-click='addNewSkill()' class='new-skill-submit'>+</strong>
			</form>
		</div>
		
		<div class="skills-box">
			<h3>Pending Skills</h3>
			<div class="skills" ng-repeat="skill in skills | orderBy: 'name' | filter: {approved: false} track by $index">
				{{skill.name}}
				<span class='fa fa-ban pull-right skills-delete' ng-click="removeSkill(skill._id)"></span>
				<span class='fa fa-check pull-right new-skill-submit' ng-click='approveSkill(skill)'></span>
			</div>
		</div>
	</div>
</div>