<div class="subroute-container" id="active-view" layout="column" layout-margin layout-align="center center">
	<input type="text" placeholder="search" class="pull-right search-bar" ng-model="query">
	
	<md-card class="active-card" ng-repeat="company in inactiveList | filter: search | orderBy: companyName track by $index" layout="row">
		<section class="employer-logo">
			<img alt="Company Logo" ng-src="{{ company.logo }}">
		</section>
		
		<section class="employer-info">
			<h3 class="company-name">{{ company.companyName }}</h3>
			<p class="company-bio">
				{{ company.bio | limitTo: 300 }}<span ng-show="company.bio.length > 300">...</span>
			</p>
			<div class="skills-container" layout="row" layout-wrap>
				<span class="skill-tags smaller" ng-repeat="skill in company.requestedSkills track by $index">{{ skill }}</span>
			</div>
			
			<div class="controls pull-right" layout="row">
				<md-switch class="md-primary" md-no-ink ng-click="updateStatus(company)" ng-model="company.isPending">Pending</md-switch>
				<md-switch class="md-primary" md-no-ink ng-click="updateStatus(company)" ng-model="company.isActive">Active</md-switch>
			</div>
			
			<md-button class="md-warn md-raised" ng-hide="company.isActive" ng-click="deleteCompany(company)">Delete</md-button>
		</section>
	</md-card>
</div>